@model ControleVeiculos.MVC.Models.TestScenarios.TestScenarioModel
@{
    ViewBag.Title = " - Cenários de Teste";
    Layout = "~/Views/Shared/_ContentPage.cshtml";
}

@using (Html.BeginForm())
{
    <div class="container-fluid">
        <br />
        <div class="content-header clearfix">

            <div class="pull-left">
                <button type="button" onclick="Add()" id="btnNew" class="btn btn-dark btn-sm" data-toggle="modal" data-target='#AddModal' title="Novo Registro">
                    <i class="fa fa-plus-circle"></i> Novo
                </button>
                <button class="btn btn-primary btn-sm" type="button" id="btnFiltrar" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" title="Filtrar">
                    <i class="fa fa-filter"></i> Filtrar
                </button>
                <button type="button" id="btnExportExcel" class="btn btn-info btn-sm" title="Exportar para Excel">
                    <i class="fa fa-file-excel-o"></i> Exportar para Excel
                </button>
            </div>
        </div>
        <br />

        <div class="card">

            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="form-group row">
                                @Html.LabelFor(model => model.SearchTestTypeID, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        @Html.DropDownList("SearchTestTypeID", Model.SearchLoadTestType, "Selecione...", new { @class = "form-control" })
                                    </div>
                                </div>
                                @Html.LabelFor(model => model.SearchExecutionTypeID, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.DropDownList("SearchExecutionTypeID", Model.SearchLoadExecutionType, "Selecione...", new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.SearchTestScenario, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.SearchTestScenario, null, new { @class = "form-control" })
                                </div>
                                @Html.LabelFor(model => model.SearchStatusID, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.DropDownList("SearchStatusID", Model.SearchLoadStatus, "Selecione...", new { @class = "form-control" })
                                </div>
                            </div>

                            <br />
                            <div class="col">
                                <div class="text-center">
                                    <button type="button" class="btn btn-success btn-sm" id="btn-aplicar-filtros" title="Aplicar filtros">
                                        <i class="fa fa-check-circle"></i> Filtrar
                                    </button>
                                    <button class="btn btn-secondary btn-sm" type="reset" id="btnFiltrar" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" title="Fechar filtros">
                                        <i class="fa fa-close"></i> Fechar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div><h5>Cenários de Teste</h5></div>

                <div id="testScenario-grid"></div>
                <script>

                $(document).ready(function () {
                    $("#testScenario-grid").kendoGrid({

                dataSource: {
                    type: "json",
                transport: {
                read: {
                    url: "@Html.Raw(Url.Action("GetAll", "TestScenario"))",
                    type: "POST",
                    dataType: "json",
                    data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                    error: function (e) {
                    display_kendoui_grid_error(e);
                    this.cancelChanges();
                },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: false
                },
                    resizable: true,
                    groupable: true,
                    sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5,
                messages: {
                    display: '{0} - {1} de {2} itens',
                    allPages: 'Todos',
                    itemsPerPage: 'Itens por página'
                }
                },
                    columns: [{
                        field: "TestScenario",
                        title: "Cenário de Teste",
                        width: 100,
                        headerAttributes: { style: "text-align:left" },
                        attributes: { class: "text-left" },

                    },{
                        field: "StatusID",
                        title: "Status",
                        width: 50,
                        headerAttributes: { style: "text-align:left" }
                    },{
                        field: "StartExecution",
                        title: "Inicio da Execução",
                        width: 50,
                        headerAttributes: { style: "text-align:left" }
                    },{
                        field: "EndExecution",
                        title: "Final da Execução",
                        width: 50,
                        headerAttributes: { style: "text-align:left" }
                    },{
                        field: "TimeExecution",
                        title: "Tempo de Execução",
                        width: 50,
                        headerAttributes: { style: "text-align:left" }
                    },{
                        field: "TestTypeID",
                        title: "Tipo de Teste",
                        width: 50,
                        headerAttributes: { style: "text-align:left" }
                    }, {
                        field: "ExecutionTypeID",
                        title: "Tipo de Execução",
                        width: 50,
                        headerAttributes: { style: "text-align:left" }
                    }, {
                        field: "",
                        title: "Comandos",
                        width: 50,
                        headerAttributes: { style: "text-align:center" },
                        attributes: { style: "text-align:center" },
                            template: '<div title="Editar Pacote" class="btn btn-primary btn-sm text-center" onclick="Edit(#=TestScenarioID#)" data-toggle="modal" data-target="\\#MaintenanceModal"> <i class="fa fa-edit"></i> </div> ' +
                                '<div title="Associar Funcionalidade" class="btn btn-primary btn-sm text-center" onclick="FeatureAssociate(#=TestScenarioID#)" data-toggle="modal" data-target="\\#FeatureAssociateModal"> <i class="fa fa-object-group"></i> </div> ' +
                                    '<div title="Excluir Pacote" class="btn btn-danger btn-sm text-center" onclick="Delete(#=TestScenarioID#)" data-toggle="modal" data-target="\\#DeleteModal"> <i class="fa fa-trash"></i> </div> '

                      }],
                    excelExport: function (e) {
                        e.workbook.fileName = "LeanTest Cloud - Cenários de Teste.xlsx";
                    }
                });
            });

                </script>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#btnExportExcel').click(function () {
                            var grid = $('#testScenario-grid').data('kendoGrid');
                            grid.saveAsExcel();
                            return false;
                        });

                        $('#btn-aplicar-filtros').click(function () {
                            var grid = $('#testScenario-grid').data('kendoGrid');
                            if (grid.dataSource.page() == 1) {
                                grid.dataSource.page(1);
                            }
                            else {
                                grid.dataSource.read({ parameter: "value" });
                            }
                            return false;
                        });


                        $("#@Html.FieldIdFor(model => model.SearchTestTypeID)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });

                        $("#@Html.FieldIdFor(model => model.SearchExecutionTypeID)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });

                        $("#@Html.FieldIdFor(model => model.SearchTestScenario)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });
                        $("#@Html.FieldIdFor(model => model.SearchStatusID)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });

                    });

                function additionalData() {
                    var data = {
                        SearchTestTypeID: $('#@Html.FieldIdFor(model => model.SearchTestTypeID)').val(),
                        SearchExecutionTypeID: $('#@Html.FieldIdFor(model => model.SearchExecutionTypeID)').val(),
                        SearchTestScenario: $('#@Html.FieldIdFor(model => model.SearchTestScenario)').val(),
                        SearchStatusID: $('#@Html.FieldIdFor(model => model.SearchStatusID)').val(),

                    };

                    addAntiForgeryToken(data);

                    return data;

                    };

                    var Delete = function (testScenarioID) {
                        var url = '/TestScenario/GetByID?testScenarioID=' + testScenarioID + '&ActionName=Delete';

                        $('#DeleteModalDiv').load(url, function () {

                        })
                    };

                    var Edit = function (testScenarioID) {
                        var url = '/TestScenario/GetByID?testScenarioID=' + testScenarioID + '&ActionName=Maintenance';

                        $('#MaintenanceModalDiv').load(url, function () {

                        })

                        $('#MaintenanceModal').on('shown.bs.modal', function () {

                            $('#calender-container .input-group.date').datepicker({
                                multidate: false,
                                multidateSeparator: ";",
                                autoclose: true,
                                daysOfWeekHighlighted: "0,6",
                                todayBtn: true,
                                todayHighlight: true,
                                format: 'dd/mm/yyyy',
                                language: 'pt-BR'
                            });

                        });
                    };

                    var Add = function () {
                        var url = '/TestScenario/New';

                        $('#AddModalDiv').load(url, function () {

                        })

                        $('#AddModal').on('shown.bs.modal', function () {

                            $('#calender-container .input-group.date').datepicker({
                                multidate: false,
                                multidateSeparator: ";",
                                autoclose: true,
                                daysOfWeekHighlighted: "0,6",
                                todayBtn: true,
                                todayHighlight: true,
                                format: 'dd/mm/yyyy',
                                language: 'pt-BR'
                            });

                        });
                    };

                    var FeatureAssociate = function (testScenarioID) {

                        var url = '/TestScenario/FeatureAssociate?testScenarioID=' + testScenarioID;

                        $('#FeatureAssociateModalDiv').load(url, function () {

                        })
                    };

                </script>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Add", "TestScenario", FormMethod.Post))
{
    <div class="modal fade" id="AddModal" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Novo Cenário</h3>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body" id="AddModalDiv">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-sm">
                        <i class="fa fa-save"></i>  Salvar
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                        <i class="fa fa-close"></i>  Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Update", "TestScenario", FormMethod.Post))
{
    <div class="modal fade" id="MaintenanceModal" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Detalhes</h3>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body" id="MaintenanceModalDiv">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-sm">
                        <i class="fa fa-save"></i>  Salvar
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                        <i class="fa fa-close"></i>  Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Update", "TestScenario", FormMethod.Post, new { novalidate = "novalidate" }))
{
    <div class="modal fade" id="FeatureAssociateModal" role="dialog" overflow: auto>
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Associar Funcionalidade(s)</h3>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body" id="FeatureAssociateModalDiv" overflow: auto>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                        <i class="fa fa-close"></i> Fechar
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Delete", "TestScenario", FormMethod.Post, new { novalidate = "novalidate" }))
{
    <div class="modal fade" id="DeleteModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Excluir</h3>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body" id="DeleteModalDiv">

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-sm">
                        <i class="fa fa-check-circle"></i> Sim
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                        <i class="fa fa-close"></i> Não
                    </button>
                </div>
            </div>
        </div>
    </div>
}