@model ControleVeiculos.MVC.Models.Licenses.LicenseModel

@Html.HiddenFor(model => model.LicenseID)

@Html.HiddenFor(model => model.Description)
@Html.HiddenFor(model => model.License)
@Html.HiddenFor(model => model.approvedByID)
@Html.HiddenFor(model => model.ApprovedDate)
@Html.HiddenFor(model => model.MacAddress)
@Html.HiddenFor(model => model.HostName)
@Html.HiddenFor(model => model.CustomerID)
@Html.HiddenFor(model => model.LicenseTypeID)


@Html.HiddenFor(model => model.CreationDate)
@Html.HiddenFor(model => model.CreatedByID)

@if (Model.License != "")
{
    <div>
        Deseja realmente desativar a licença?
        <br />
        <br />
        <ul>
            <li>Code: <strong>@Model.LicenseCode</strong></li>
        </ul>
    </div>

}
else
{
    <div>
        Deseja realmente ativar a licença?
        <br />
        <br />
        <ul>
            <li>Code: <strong>@Model.LicenseCode</strong></li>
        </ul>
    </div>

}

