@model ControleVeiculos.MVC.Models.Users.UserModel

@Html.HiddenFor(model => model.UserID)
@Html.HiddenFor(model => model.UserName)
@Html.HiddenFor(model => model.Email)
@Html.HiddenFor(model => model.Password)
@Html.HiddenFor(model => model.CellNumber)
@Html.HiddenFor(model => model.FunctionID)
@Html.HiddenFor(model => model.FunctionLevelID)
@Html.HiddenFor(model => model.LevelClassificationID)
@Html.HiddenFor(model => model.DepartmentID)
@Html.HiddenFor(model => model.TotalCost)
@Html.HiddenFor(model => model.SupervisorID)
@Html.HiddenFor(model => model.Description)
@Html.HiddenFor(model => model.FirstAccess)
@Html.HiddenFor(model => model.IsAdmin)
@Html.HiddenFor(model => model.LastAccessDate)
@Html.HiddenFor(model => model.LastIPAccess)
@Html.HiddenFor(model => model.IsActive)
@Html.HiddenFor(model => model.AccessToDate)
@Html.HiddenFor(model => model.UpdateRecordTo)
@Html.HiddenFor(model => model.ReleaseDateUpdateRecordTo)
@Html.HiddenFor(model => model.StartJob)
@Html.HiddenFor(model => model.EndJob)
@Html.HiddenFor(model => model.ContractTypeID)
@Html.HiddenFor(model => model.HourTypeID)
@Html.HiddenFor(model => model.RG)
@Html.HiddenFor(model => model.CPF)
@Html.HiddenFor(model => model.DateOfBirth)
@Html.HiddenFor(model => model.HomeAddress)
@Html.HiddenFor(model => model.CEP)
@Html.HiddenFor(model => model.District)
@Html.HiddenFor(model => model.City)
@Html.HiddenFor(model => model.State)
@Html.HiddenFor(model => model.HomePhone)
@Html.HiddenFor(model => model.TypeBankAccount)
@Html.HiddenFor(model => model.TypePerson)
@Html.HiddenFor(model => model.Agency)
@Html.HiddenFor(model => model.BankAccount)
@Html.HiddenFor(model => model.BankName)
@Html.HiddenFor(model => model.SocialReason)
@Html.HiddenFor(model => model.CNPJ)
@Html.HiddenFor(model => model.OptingSimple)
@Html.HiddenFor(model => model.RegisteredCity)
@Html.HiddenFor(model => model.IsEmployee)


@Html.HiddenFor(model => model.CreationDate)
@Html.HiddenFor(model => model.CreatedByID)

@if (Model.IsActive == true)
{
    <div>
        Deseja realmente desativar o usuário?
        <br />
        <br />
        <ul>
            <li>Nome do usuário: <strong>@Model.UserName</strong></li>
            <li>E-mail: <strong>@Model.Email</strong></li>
            <li>Status: <strong>Ativado</strong></li>
        </ul>
    </div>

}
else
{
    <div>
        Deseja realmente ativar o usuário?
        <br />
        <br />
        <ul>
            <li>Nome do usuário: <strong>@Model.UserName</strong></li>
            <li>E-mail: <strong>@Model.Email</strong></li>
            <li>Status: <strong>Desativado</strong></li>
        </ul>
    </div>

}
