@model ControleVeiculos.MVC.Models.PipelineEvents.PipelineEventModel
@{
    ViewBag.Title = " - Pipeline Events";
    Layout = "~/Views/Shared/_ContentPage.cshtml";
}

@using (Html.BeginForm())
{
    <div class="container-fluid">
        <br />
        <div class="content-header clearfix">

            <div class="pull-left">


                <button type="button" onclick="Add()" id="btnNew" class="btn btn-dark" data-toggle="modal" data-target='#AddModal' title="Novo Registro">
                    <i class="fa fa-plus-circle"></i> Novo
                </button>
                 <button class="btn btn-primary" type="button" id="btnFiltrar" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" title="Filtrar">
                    <i class="fa fa-filter"></i> Filtrar
                </button>
                <button type="button" id="btnExportExcel" class="btn btn-info" title="Exportar para Excel">
                    <i class="fa fa-file-excel-o"></i> Exportar para Excel
                </button>
            </div>
        </div>
        <br />
        
        <div class="card">

            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="form-group row">
                                @Html.LabelFor(model => model.SearchDescription, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.SearchDescription, new { @class = "form-control" })
                                </div>
                                @Html.LabelFor(model => model.SearchTypeID, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.DropDownList("SearchTypeID", Model.SearchLoadType, "Selecione...", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row" id="calender-container">
                                @Html.LabelFor(model => model.SearchRegisterDate, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    <div class="input-group date">
                                        @Html.TextBoxFor(model => model.SearchRegisterDate, new { @class = "form-control", autocomplete = "off" })<span class="input-group-addon"></span>
                                    </div>
                                </div>
                                @Html.LabelFor(model => model.SearchNextStepID, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.DropDownList("SearchNextStepID", Model.SearchLoadNextStep, "Selecione...", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.SearchOportunityID, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.DropDownList("SearchOportunityID", Model.SearchLoadOportunity, "Selecione...", new { @class = "form-control" })
                                </div>                              
                            </div>                            
                            <br />
                            <div class="col">
                                <div class="text-center">
                                    <button type="button" class="btn btn-success" id="btn-aplicar-filtros" title="Aplicar filtros">
                                        <i class="fa fa-check-circle"></i> Filtrar
                                    </button>
                                    <button class="btn btn-secondary" type="reset" id="btnFiltrar" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" title="Fechar filtros">
                                        <i class="fa fa-close"></i> Fechar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>

            <div class="card-body">
                <div><h5>EVENTOS DE PIPELINE</h5></div>

                <div id="pipelineEvent-grid"></div>
                <script>

                $(document).ready(function () {
                    $("#pipelineEvent-grid").kendoGrid({

                dataSource: {
                    type: "json",
                transport: {
                read: {
                    url: "@Html.Raw(Url.Action("GetAll", "PipelineEvent"))",
                    type: "POST",
                    dataType: "json",
                    data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                    error: function (e) {
                    display_kendoui_grid_error(e);
                    this.cancelChanges();
                },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: false
                },
                    resizable: true,
                    groupable: true,
                    sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5,
                messages: {
                    display: '{0} - {1} de {2} itens',
                    allPages: 'Todos',
                    itemsPerPage: 'Itens por página'
                }
                },
                    columns: [{
                        field: "",
                        title: "Comandos",
                        width: 150,
                        headerAttributes: { style: "text-align:center" },
                        attributes: { style: "text-align:center" },
                        template: '<div title="Editar Pipeline Event" class="btn btn-primary btn-sm text-center" onclick="Edit(#=SaleEventID#)" data-toggle="modal" data-target="\\#MaintenanceModal"> <i class="fa fa-edit"></i> </div> ' +
                        '<div title="Excluir Pipeline Event" class="btn btn-danger btn-sm text-center" onclick="Delete(#=SaleEventID#)" data-toggle="modal" data-target="\\#DeleteModal"> <i class="fa fa-trash"></i> </div> '

                    }, {
                        field: "OportunityID",
                        title: "Oportunidade",
                        width: 400,
                        headerAttributes: { style: "text-align:left" }
                    }, {
                        field: "Description",
                        title: "Descrição",
                        width: 400,
                        headerAttributes: { style: "text-align:left" }
                    }, {
                        field: "CreatedByID",
                        title: "Criado por",
                        width: 200,
                        headerAttributes: { style: "text-align:left" }
                    }, {
                        field: "RegisterDate",
                        title: "Data de Registro",
                        width: 100,
                        headerAttributes: { style: "text-align:left" }
                    }, {
                        field: "TypeID",
                        title: "Tipo de Evento",
                        width: 150,
                        headerAttributes: { style: "text-align:left" }
                    }, {
                        field: "NextStepID",
                        title: "Próximo Passo",
                        width: 200,
                        headerAttributes: { style: "text-align:left" }
                    }],
                        excelExport: function (e) {
                            e.workbook.fileName = "LeanTest Cloud - PipelineEvents.xlsx";
                        }
                });
            });

                </script>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#btnExportExcel').click(function () {
                            var grid = $('#pipelineEvent-grid').data('kendoGrid');
                            grid.saveAsExcel();
                            return false;
                        });

                        $('#btn-aplicar-filtros').click(function () {
                            var grid = $('#pipelineEvent-grid').data('kendoGrid');
                            if (grid.dataSource.page() == 1) {
                                grid.dataSource.page(1);
                            }
                            else {
                                grid.dataSource.read({ parameter: "value" });
                            }
                            return false;
                        });

                        $("#@Html.FieldIdFor(model => model.SearchDescription)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });

                         $("#@Html.FieldIdFor(model => model.SearchRegisterDate)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });

                         $("#@Html.FieldIdFor(model => model.SearchTypeID)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                         });

                         $("#@Html.FieldIdFor(model => model.SearchNextStepID)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                         });

                         $("#@Html.FieldIdFor(model => model.SearchOportunityID)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });

                    });

                function additionalData() {
                    var data = {
                        SearchSummary: $('#@Html.FieldIdFor(model => model.SearchDescription)').val(),
                        SearchRegisterDate: $('#@Html.FieldIdFor(model => model.SearchRegisterDate)').val(),
                        SearchTypeID: $('#@Html.FieldIdFor(model => model.SearchTypeID)').val(),
                        SearchNextStepID: $('#@Html.FieldIdFor(model => model.SearchNextStepID)').val(),
                        SearchOportunityID: $('#@Html.FieldIdFor(model => model.SearchOportunityID)').val(),

                    };

                    addAntiForgeryToken(data);

                    return data;

                    };

                    var Delete = function (saleEventID) {
                        var url = '/PipelineEvent/GetByID?saleEventID=' + saleEventID + '&ActionName=Delete';

                        $('#DeleteModalDiv').load(url, function () {

                        })
                    };

                    var Edit = function (saleEventID) {
                        var url = '/PipelineEvent/GetByID?saleEventID=' + saleEventID + '&ActionName=Maintenance';

                        $('#MaintenanceModalDiv').load(url, function () {

                        })

                        $('#MaintenanceModal').on('shown.bs.modal', function () {

                            $('#calender-container .input-group.date').datepicker({
                                multidate: false,
                                multidateSeparator: ";",
                                autoclose: true,
                                daysOfWeekHighlighted: "0,6",
                                todayBtn: true,
                                todayHighlight: true,
                                format: 'dd/mm/yyyy',
                                language: 'pt-BR'
                            });

                        });
                    };

                    var Add = function () {
                        var url = '/PipelineEvent/New';

                        $('#AddModalDiv').load(url, function () {

                        })

                        $('#AddModal').on('shown.bs.modal', function () {

                            $('#calender-container .input-group.date').datepicker({
                                multidate: false,
                                multidateSeparator: ";",
                                autoclose: true,
                                daysOfWeekHighlighted: "0,6",
                                todayBtn: true,
                                todayHighlight: true,
                                format: 'dd/mm/yyyy',
                                language: 'pt-BR'
                            });

                        });
                    };

                </script>
            </div>
        </div>
    </div>

}

@using (Html.BeginForm("Add", "PipelineEvent", FormMethod.Post))
{
    <div class="modal fade" id="AddModal" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Novo Evento</h3>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body" id="AddModalDiv">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-sm" onclick="return ValidarCampo(event); ">
                        <i class="fa fa-save"></i>  Salvar

                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="fa fa-close"></i>  Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Update", "PipelineEvent", FormMethod.Post))
{
    <div class="modal fade" id="MaintenanceModal" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Detalhes</h3>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body" id="MaintenanceModalDiv">
                </div>
                <div class="modal-footer">
                         <button type="submit" class="btn btn-success btn-sm" onclick="return ValidarCampo(event);" >
                        <i class="fa fa-save"></i>  Salvar
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="fa fa-close"></i>  Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Delete", "PipelineEvent", FormMethod.Post, new { novalidate = "novalidate" }))
{
    <div class="modal fade" id="DeleteModal" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Excluir</h3>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body" id="DeleteModalDiv">

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-check-circle"></i> Sim
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="fa fa-close"></i> Não
                    </button>
                </div>
            </div>
        </div>
    </div>
}