@model ControleVeiculos.MVC.Models.ApplicationSystems.ApplicationSystemModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>


@Html.HiddenFor(model => model.ApplicationSystemID)
@Html.HiddenFor(model => model.CustomerID)
@Html.HiddenFor(model => model.CreatedByID)

<div class="form-group row">
    <div class="col-md-8 mb-auto">
        <strong>@Html.LabelFor(model => model.ApplicationSystemName, new { @class = "col-sm-0 col-form-label text-left" })</strong>
        <strong><span style="color:black;">*</span></strong>
        @Html.TextBoxFor(model => model.ApplicationSystemName, new { @class = "form-control text-left", placeholder = "Digite o nome da aplicação", @autofocus = "autofocus" })
        @Html.ValidationMessageFor(model => model.ApplicationSystemName, "", new { @class = "form-text text-danger" })
    </div>
    <div class="col-md-2 mb-auto">
        <strong>@Html.LabelFor(model => model.ApplicationTypeID, new { @class = "col-sm-0 col-form-label text-left" })</strong>
        <strong><span style="color:black;">*</span></strong>
        @Html.DropDownList("ApplicationTypeID", Model.LoadApplicationType, "Selecione...", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ApplicationTypeID, "", new { @class = "form-text text-danger" })
    </div>
    <div class="col-md-2 mb-auto">
        @Html.LabelFor(model => model.CreationDate, new { @class = "col-sm-0 col-form-label text-left" })
        @Html.TextBoxFor(model => model.CreationDate, new { @class = "form-control text-left", @readonly = "readonly" })
        @Html.ValidationMessageFor(model => model.CreationDate, "", new { @class = "form-text text-danger" })
    </div>
    <div class="col-md-12 mb-auto">
        <strong>@Html.LabelFor(model => model.Description, new { @class = "col-sm-0 col-form-label text-left" })</strong>
        <strong><span style="color:black;">*</span></strong>
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Digite uma descrição", rows = "4" })

        <script>
            //$(document).ready(function () {
            //$("#Description").kendoEditor({
            //tools: [
            //"formatting",
            //"bold", "italic", "underline", "strikethrough",
            // "justifyLeft", "justifyCenter", "justifyRight", "justifyFull",
            // "insertUnorderedList", "insertOrderedList", "indent", "outdent",
            // "createLink", "unlink", "insertImage", "insertFile",
            //"subscript", "superscript",
            // "tableWizard", "createTable",
            //"addRowAbove", "addRowBelow",
            // "addColumnLeft", "addColumnRight",
            //"deleteRow", "deleteColumn",
            //"viewHtml", "cleanFormatting",
            // "fontName", "fontSize",
            // "foreColor", "backColor"
            //],
            //messages: {
            //fontNameInherit: "Arial",
            //fontSizeInherit: "3 (12pt)"
            //},
            //resizable: true
            //});
            //});

            function ValidarCampo() {
                var Description = document.getElementById("Description").value;

                if (Description !== "") {
                    return true
                }
                else if (Description === "") {
                    Swal.fire({
                        position: 'top-center',
                        type: 'error',
                        text: 'Descrição é um campo de preenchimento obrigatório!!!',
                        showConfirmButton: false,
                        confirmButtonColor: "#9ACD32",
                        timer: 2500
                    })
                    return false
                }
                else {
                    return true
                }
            }
        </script>
    </div>
</div>

