@model ControleVeiculos.MVC.Models.TimeReleases.TimeReleaseModel
@{
    ViewBag.Title = " - Apropriação de Horas";
    Layout = "~/Views/Shared/_ContentPage.cshtml";
}

@using (Html.BeginForm())
{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <div class="container-fluid">
        <br />
        <div class="content-header clearfix">
            <div class="pull-left">
                <button type="button" onclick="Add()" id="btnNew" class="btn btn-dark btn-sm" data-toggle="modal" data-target='#AddModal' title="Novo Registro">
                    <i class="fa fa-plus-circle"></i> Novo
                </button>
                <button class="btn btn-primary btn-sm" type="button" id="btnFiltrar" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" title="Filtrar">
                    <i class="fa fa-filter"></i> Filtrar
                </button>
                <button type="button" id="btnExportExcel" class="btn btn-info btn-sm" title="Exportar para Excel">
                    <i class="fa fa-file-excel-o"></i> Exportar para Excel
                </button>
                <button type="button" onclick="AbsenceRecordAdd()" id="btnAbsenceRecord" class="btn btn-danger btn-sm" data-toggle="modal" data-target='#AbsenceRecordAddModal' title="Registro de Ausência">
                    <i class="fa fa-minus-circle"></i> Registro de Ausência
                </button>
                @if (Convert.ToString(Session["isAdmin"]) == "True")
                {
                    <button type="button" onclick="GetReport()" id="btnGetReport" class="btn btn-success btn-sm" data-toggle="modal" data-target='#ReportModal' title="Relatórios">
                        <i class="fa fa-file-excel-o"></i> Relatórios de Horas Apropriadas
                    </button>
                }
            </div>
        </div>
        <br />

        <div class="card">
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="form-group row" id="calender-container">
                                @Html.LabelFor(model => model.SearchStartDate, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    <div class="input-group date">
                                        @Html.TextBoxFor(model => model.SearchStartDate, new { @class = "form-control", autocomplete = "off" })<span class="input-group-addon"></span>
                                    </div>
                                </div>
                                @Html.LabelFor(model => model.SearchCustomerID, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.DropDownList("SearchCustomerID", Model.SearchLoadCustomers, "Selecione...", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row" id="calender-container">
                                @Html.LabelFor(model => model.SearchEndDate, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    <div class="input-group date">
                                        @Html.TextBoxFor(model => model.SearchEndDate, new { @class = "form-control", autocomplete = "off" })<span class="input-group-addon"></span>
                                    </div>
                                </div>

                                @Html.LabelFor(model => model.SearchDemandID, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.DropDownList("SearchDemandID", Model.SearchLoadDemands, "Selecione...", new { @class = "form-control" })
                                </div>

                            </div>
                            @if (Convert.ToString(Session["isAdmin"]) == "True")
                            {
                                <div class="form-group row" id="calender-container">
                                    @Html.LabelFor(model => model.SearchCreatedByID, new { @class = "col-sm-2 col-form-label text-right" })
                                    <div class="col-sm-3">
                                        @Html.DropDownList("SearchCreatedByID", Model.SearchLoadCreateds, "Selecione...", new { @class = "form-control" })
                                    </div>
                                </div>
                            }
                            <br />
                            <div class="col">
                                <div class="text-center">
                                    <button type="button" class="btn btn-success btn-sm" id="btn-aplicar-filtros" title="Aplicar filtros">
                                        <i class="fa fa-check-circle"></i> Filtrar
                                    </button>
                                    <button class="btn btn-primary btn-sm" type="reset" id="btnFiltrar" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" title="Fechar filtros">
                                        <i class="fa fa-filter"></i> Fechar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div><h5>APROPRIAÇÃO DE HORAS</h5></div>
                <div id="timereleases-grid"></div>
                <script>

                $(document).ready(function () {
                $("#timereleases-grid").kendoGrid({

                dataSource: {
                    type: "json",
                transport: {
                read: {
                    url: "@Html.Raw(Url.Action("GetAll", "TimeRelease"))",
                    type: "POST",
                    dataType: "json",
                    data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                    error: function (e) {
                    display_kendoui_grid_error(e);
                    this.cancelChanges();
                },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: false
                },
                    resizable: true,
                    groupable: true,
                    sortable: true,

                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5,
                messages: {
                    display: '{0} - {1} de {2} itens',
                    allPages: 'Todos',
                    itemsPerPage: 'Itens por página'
                }
                },
                    columns: [{
                        field: "",
                        title: "Comandos",
                        width: 130,
                        headerAttributes: { style: "text-align:center" },
                        attributes: { style: "text-align:center" },
                        template: '<div title="Editar Registro" class="btn btn-primary btn-sm text-center" onclick="Edit(#=TimeReleaseID#)" data-toggle="modal" data-target="\\#MaintenanceModal"> <i class="fa fa-edit"></i> </div> ' +
                        '<div title="Excluir Registro" class="btn btn-danger btn-sm text-center" onclick="Delete(#=TimeReleaseID#)" data-toggle="modal" data-target="\\#DeleteModal"> <i class="fa fa-trash"></i> </div> ' +
                        '# if(IsApproved == false)  {# <div title="Aprovar" class="btn btn-warning btn-sm text-center" onclick="StatusChange(#=TimeReleaseID#)" > <i class="fa fa-bell-slash" text-danger false-icon"></i></div> #} else ' +
                        '{# <div title="Rejeitar" class="btn btn-success btn-sm" text-center" onclick="StatusChange(#=TimeReleaseID#)"> <i class="fa fa-bell" text-danger false-icon"></i></div> #}  # '
                    }, {
                        field: "CustomerID",
                        title: "Empresa",
                        width: 150,
                        headerAttributes: { style: "text-align:left" }
                    }, {
                        field: "DemandID",
                        title: "Demanda",
                        width: 300,
                        headerAttributes: { style: "text-align:left" }
                    }, {
                        field: "CreatedByID",
                        title: "Nome",
                        width: 200,
                        headerAttributes: { style: "text-align:left" }
                    }, {
                        field: "ActivityID",
                        title: "Atividade",
                        width: 200,
                        headerAttributes: { style: "text-align:left" }
                    }, {
                        field: "RegisterDate",
                        title: "Data",
                        width: 130,
                        headerAttributes: { style: "text-align:left" },

                    }, {
                        field: "StartWork",
                        title: "Início",
                        width: 70,
                        headerAttributes: { style: "text-align:left" }
                    }, {
                        field: "EndWork",
                        title: "Término",
                        width: 70,
                        headerAttributes: { style: "text-align:left" }
                    }, {
                        field: "TotalTime",
                        title: "Total",
                        width: 70,
                        headerAttributes: { style: "text-align:left" },
                    }],
                    excelExport: function (e) {
                        e.workbook.fileName = "LeanTest Cloud - Apropriação de horas.xlsx";
                    }
                    });
                });

                </script>
                <script type="text/javascript">
                    $(document).ready(function () {

                        $('#btnExportExcel').click(function () {
                            var grid = $('#timereleases-grid').data('kendoGrid');
                            grid.saveAsExcel();
                            return false;
                        });

                        $('#btn-aplicar-filtros').click(function () {
                            var grid = $('#timereleases-grid').data('kendoGrid');
                            if (grid.dataSource.page() == 1) {
                                grid.dataSource.page(1);
                            }
                            else {
                                grid.dataSource.read({ parameter: "value" });
                            }
                            return false;
                        });

                        $("#@Html.FieldIdFor(model => model.SearchStartDate)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });

                        $("#@Html.FieldIdFor(model => model.SearchEndDate)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });

                        $("#@Html.FieldIdFor(model => model.SearchDemandID)").keydown(function (event) {
                        if (event.keyCode == 13) {
                            $("#btn-aplicar-filtros").click();
                            return false;
                        }
                        });

                        $("#@Html.FieldIdFor(model => model.SearchCreatedByID)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });

                        $("#@Html.FieldIdFor(model => model.IsApproved)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });

                        $("#@Html.FieldIdFor(model => model.SearchCustomerID)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });

                    });

                function additionalData() {
                    var data = {
                        SearchStartDate: $('#@Html.FieldIdFor(model => model.SearchStartDate)').val(),
                        SearchEndDate: $('#@Html.FieldIdFor(model => model.SearchEndDate)').val(),
                        SearchDemandID: $('#@Html.FieldIdFor(model => model.SearchDemandID)').val(),
                        SearchCreatedByID: $('#@Html.FieldIdFor(model => model.SearchCreatedByID)').val(),
                        SearchCustomerID: $('#@Html.FieldIdFor(model => model.SearchCustomerID)').val()

                    };

                    addAntiForgeryToken(data);

                    return data;

                    };

                    var Delete = function (timeReleaseID) {
                        var url = '/TimeRelease/GetByID?timeReleaseID=' + timeReleaseID + '&ActionName=Delete';

                        $('#DeleteModalDiv').load(url, function () {

                        })
                    };

                    var Edit = function (timeReleaseID) {
                        var url = '/TimeRelease/GetByID?timeReleaseID=' + timeReleaseID + '&ActionName=Maintenance';

                        $('#MaintenanceModalDiv').load(url, function () {

                        })

                        $('#MaintenanceModal').on('shown.bs.modal', function () {

                            $('#calender-container .input-group.date').datepicker({
                                multidate: false,
                                multidateSeparator: ";",
                                autoclose: true,
                                daysOfWeekHighlighted: "0,6",
                                todayBtn: true,
                                todayHighlight: true,
                                format: 'dd/mm/yyyy',
                                language: 'pt-BR'
                            });

                        });
                    };

                    var Add = function () {
                        var url = '/TimeRelease/New';

                        $('#AddModalDiv').load(url, function () {

                        })

                        $('#AddModal').on('shown.bs.modal', function () {

                            $('#calender-container .input-group.date').datepicker({
                                multidate: false,
                                multidateSeparator: ";",
                                autoclose: true,
                                daysOfWeekHighlighted: "0,6",
                                todayBtn: true,
                                todayHighlight: true,
                                format: 'dd/mm/yyyy',
                                language: 'pt-BR'
                            });

                        });
                    };

                    var AbsenceRecordAdd = function () {
                        var url = '/TimeRelease/AbsenceRecordNew';

                        $('#AbsenceRecordAddModalDiv').load(url, function () {

                        })

                        $('#AbsenceRecordAddModal').on('shown.bs.modal', function () {

                            $('#calender-container .input-group.date').datepicker({
                                multidate: false,
                                multidateSeparator: ";",
                                autoclose: true,
                                daysOfWeekHighlighted: "0,6",
                                todayBtn: true,
                                todayHighlight: true,
                                format: 'dd/mm/yyyy',
                                language: 'pt-BR'
                            });

                        });
                    };

                    var GetReport = function () {
                        var url = '/TimeRelease/Report';

                        $('#ReportModalDiv').load(url, function () {

                        })

                        $('#ReportModal').on('shown.bs.modal', function () {

                            $('#calender-container .input-group.date').datepicker({
                                multidate: false,
                                multidateSeparator: ";",
                                autoclose: true,
                                daysOfWeekHighlighted: "0,6",
                                todayBtn: true,
                                todayHighlight: true,
                                format: 'dd/mm/yyyy',
                                language: 'pt-BR'
                            });

                        });
                    };

                    var StatusChange = function (timeReleaseID) {

                        var url = '/TimeRelease/StatusChange?timeReleaseID=' + timeReleaseID;

                        $('#DeleteModalDiv').load(url, function () {

                        })

                        $("#btn-aplicar-filtros").click();

                        return false;
                    };

                     $(document).ready(function () {
                         $("#SearchCustomerID").change(function () {
                             $("#SearchDemandID").empty();
                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("GetDemands")',

                                dataType: 'json',
                                data: { customerID: $("#SearchCustomerID").val(), isActive: false },
                                success: function (itens) {
                                    $("#SearchDemandID").append('<option value="">Selecione...</option>');
                                    $.each(itens, function (i, item) {
                                        $("#SearchDemandID").append('<option value="' + item.Value + '">' + item.Text + '</option>');
                                    });
                                },
                                error: function (ex) {
                                    alert('Failed to retrieve states.' + ex);
                                }
                            });
                            return false;
                        })
                    });

                </script>
            </div>
        </div>
    </div>

}

@using (Html.BeginForm("Add", "TimeRelease", FormMethod.Post))
{
    <div class="modal fade" id="AddModal" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Nova Apropriação de Horas</h3>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body" id="AddModalDiv">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-sm" onclick="return ValidarCampo(event)">
                        <i class="fa fa-save"></i>  Salvar
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                        <i class="fa fa-close"></i>  Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Update", "TimeRelease", FormMethod.Post))
{
    <div class="modal fade" id="MaintenanceModal" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Detalhes</h3>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body" id="MaintenanceModalDiv">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-sm" onclick="return ValidarCampo(event)">
                        <i class="fa fa-save"></i>  Salvar
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                        <i class="fa fa-close"></i>  Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Delete", "TimeRelease", FormMethod.Post, new { novalidate = "novalidate" }))
{
    <div class="modal fade" id="DeleteModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Excluir</h3>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body" id="DeleteModalDiv">

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-sm">
                        <i class="fa fa-check-circle"></i> Sim
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                        <i class="fa fa-close"></i> Não
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("AbsenceRecordAdd", "TimeRelease", FormMethod.Post))

{
    <div class="modal fade" id="AbsenceRecordAddModal" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Registro de Ausência</h3>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body" id="AbsenceRecordAddModalDiv">

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-sm" onclick="return ComparaHoras(event)">
                        <i class="fa fa-save"></i> Salvar
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                        <i class="fa fa-close"></i> Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Report", "TimeRelease", FormMethod.Post))

{
    <div class="modal fade" id="ReportModal" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Relatório de Horas Apropriadas</h3>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body" id="ReportModalDiv">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                        <i class="fa fa-close"></i> Fechar
                    </button>
                </div>
            </div>
        </div>
    </div>
}

