@model DemandModel
@{
    ViewBag.Title = " - Gantt";
    Layout = "~/Views/Shared/_ContentPage.cshtml";
}
<body>
    <div class="container-fluid">
        <br />
        <div class="content-header clearfix">

            <div class="pull-left">

                <button type="button" onclick="Add()" id="btnNew" class="btn btn-dark" data-toggle="modal" data-target='#AddModal' title="Nova Tarefa">
                    <i class="fa fa-plus-circle"></i> Novo
                </button>
                <button class="btn btn-primary" type="button" id="btnFiltrar" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" title="Filtrar ">
                    <i class="fa fa-filter"></i> Filtrar
                </button>
                <a href="@Url.Action("Index")" class="btn btn-success" , title="Visualizar Lista de Demandas">
                    <i class="fa fa-list"></i> Lista de Demandas
                </a>
            </div>
        </div><br />
        <div class="card">
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="form-group row">
                                @Html.LabelFor(model => model.SearchDemandName, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.SearchDemandName, null, new { @class = "form-control" })
                                </div>
                                @Html.LabelFor(model => model.SearchStatusID, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.DropDownList("SearchStatusID", Model.SearchLoadStatus, "Selecione...", new { @class = "form-control" })
                                </div>

                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.SearchExternalCode, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.SearchExternalCode, null, new { @class = "form-control" })
                                </div>
                                @Html.LabelFor(model => model.SearchTypeID, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.DropDownList("SearchTypeID", Model.SearchLoadTypes, "Selecione...", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.SearchDemandCode, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.SearchDemandCode, null, new { @class = "form-control" })
                                </div>
                                @Html.LabelFor(model => model.SearchServiceID, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.DropDownList("SearchServiceID", Model.SearchLoadServices, "Selecione...", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row" id="calender-container">
                                @Html.LabelFor(model => model.SearchPlanningStartDate, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    <div class="input-group date">
                                        @Html.TextBoxFor(model => model.SearchPlanningStartDate, new { @class = "form-control", autocomplete = "off" })<span class="input-group-addon"></span>
                                    </div>
                                </div>
                                @Html.LabelFor(model => model.SearchPlanningEndDate, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    <div class="input-group date">
                                        @Html.TextBoxFor(model => model.SearchPlanningEndDate, new { @class = "form-control", autocomplete = "off" })<span class="input-group-addon"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.SearchAssignToTargetID, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.DropDownList("SearchAssignToTargetID", Model.SearchLoadAssingToTarget, "Selecione...", new { @class = "form-control" })
                                </div>
                                @Html.LabelFor(model => model.SearchResponsibleID, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.DropDownList("SearchResponsibleID", Model.SearchLoadResponsible, "Selecione...", new { @class = "form-control" })
                                </div>
                            </div>
                            <br />
                            <div class="col">
                                <div class="text-center">
                                    <button type="button" class="btn btn-success btn-sm" id="btn-aplicar-filtros" title="Aplicar filtros">
                                        <i class="fa fa-check-circle"></i> Filtrar
                                    </button>
                                    <button class="btn btn-primary btn-sm" type="reset" id="btnFiltrar" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" title="Fechar filtros">
                                        <i class="fa fa-filter"></i> Fechar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="gantt"></div>
        <script type="text/javascript"
                src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
            google.charts.load("current", { packages: ["gantt"] });
            google.charts.setOnLoadCallback(drawChart);
            function convertData(date) {
                var day = date.substr(0, 2);
                var month = date.substr(3, 2);
                var year = date.substr(6, 4);
                    return new Date(year,month,day);
            }

            var size = 0;

                function drawChart() {
                size = 0;
                $.ajax({
                    url: '@Html.Raw(Url.Action("GetAllGantt", "Demand"))',
                    type: "POST",
                    dataType: "json",
                    data: {
                        customerID: @Session["customerID"],
                        model: dataGantt(),
                    },
                    error: function (xhr, status, error) {
                        var err = eval("(" + xhr.responseText + ")");
                        toastr.error(err.message);
                        drawGantt(null);
                    },
                    success: function (data) {
                        var arrayData = [];
                        //console.log(data);
                        data.forEach(function (item) {
                            //console.log(item);
                            var temp = [];

                            temp.push(item.demandID.toString());
                            temp.push(item.demandCode + ' - ' + item.demandName.substring(0,20));
                            temp.push(item.statusID);
                            temp.push(convertData(item.planningStartDate));
                            temp.push(convertData(item.planningEndDate));
                            temp.push(null);
                            temp.push(0);
                            temp.push(null);

                            arrayData.push(temp);
                            size++;
                        });
                    drawGantt(arrayData);
                    }
                });
            }

            function drawGantt(arrayData) {
                var data = new google.visualization.DataTable();
                data.addColumn("string", "demandID");               // id
                data.addColumn("string", "demandName");             // nome
                data.addColumn('string', 'statusID');           // classe/tipo
                data.addColumn("date", "planningStartDate");              // data de inicio
                data.addColumn("date", "planningEndDate");                // data de final
                data.addColumn("number", "Duração");              // duração
                data.addColumn("number", "Porcentagem Completa");      // % completa da task
                data.addColumn("string", "Dependencias");          // dependencias

                data.addRows(arrayData);
                var options = {
                    height: size*50
                    //height: 9000
                };

                var chart = new google.visualization.Gantt(
                    document.getElementById("gantt")
                );

                chart.draw(data, options);
            }

            function dataGantt() {
                   var data = {
                        SearchDemandName: $('#@Html.FieldIdFor(model => model.SearchDemandName)').val(),
                        SearchDemandCode: $('#@Html.FieldIdFor(model => model.SearchDemandCode)').val(),
                        SearchPlanningStartDate: $('#@Html.FieldIdFor(model => model.SearchPlanningStartDate)').val(),
                        SearchPlanningEndDate: $('#@Html.FieldIdFor(model => model.SearchPlanningEndDate)').val(),
                        SearchExternalCode: $('#@Html.FieldIdFor(model => model.SearchExternalCode)').val(),
                        SearchStatusID: $('#@Html.FieldIdFor(model => model.SearchStatusID)').val(),
                        SearchServiceID: $('#@Html.FieldIdFor(model => model.SearchServiceID)').val(),
                        SearchTypeID: $('#@Html.FieldIdFor(model => model.SearchTypeID)').val(),
                        SearchResponsibleID: $('#@Html.FieldIdFor(model => model.SearchResponsibleID)').val(),
                        SearchAssignToTargetID: $('#@Html.FieldIdFor(model => model.SearchAssignToTargetID)').val()

                    };

                    addAntiForgeryToken(data);

                    return data;
            };

        </script>

        <script type="text/javascript">
                    $(document).ready(function () {
        
                        $('#btn-aplicar-filtros').click(function () {
                            drawChart();
                        });

                        $("#@Html.FieldIdFor(model => model.SearchDemandName)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });

                        $("#@Html.FieldIdFor(model => model.SearchDemandCode)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });

                        $("#@Html.FieldIdFor(model => model.SearchExternalCode)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });

                        $("#@Html.FieldIdFor(model => model.SearchStatusID)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });

                        $("#@Html.FieldIdFor(model => model.SearchPlanningStartDate)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });

                        $("#@Html.FieldIdFor(model => model.SearchPlanningEndDate)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });

                        $("#@Html.FieldIdFor(model => model.SearchResponsibleID)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });


                        $("#@Html.FieldIdFor(model => model.SearchAssignToTargetID)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });

                        $("#@Html.FieldIdFor(model => model.SearchServiceID)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });

                        $("#@Html.FieldIdFor(model => model.SearchTypeID)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });
                    });
        </script>

</body>