@model ControleVeiculos.MVC.Models.Tasks.TaskModel
@{
    ViewBag.Title = " - Tarefas";
    Layout = "~/Views/Shared/_ContentPage.cshtml";
}

@using (Html.BeginForm())
{
    <div class="container-fluid">
        <br />
        <div class="content-header clearfix">

            <div class="pull-left">


                <button type="button" onclick="Add()" id="btnNew" class="btn btn-dark" data-toggle="modal" data-target='#AddModal' title="Nova Tarefa">
                    <i class="fa fa-plus-circle"></i> Novo
                </button>
                <button class="btn btn-primary" type="button" id="btnFiltrar" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" title="Filtrar ">
                    <i class="fa fa-filter"></i> Filtrar
                </button>
                <button type="button" id="btnExportExcel" class="btn btn-info" title="Exportar para Excel">
                    <i class="fa fa-file-excel-o"></i> Exportar para Excel
                </button>
                <a href="@Url.Action("Kanban")" class="btn btn-success", title="Visualizar Kanban">
                    <i class="fa fa-cube"></i> Kanban
                </a>
            </div>
        </div>
        <br />

        <div class="card">

            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="form-group row">
                                @Html.LabelFor(model => model.SearchSummary, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.SearchSummary, new { @class = "form-control" })
                                </div>
                                @Html.LabelFor(model => model.SearchAssignToID, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.DropDownList("SearchAssignToID", Model.SearchLoadAssignTo, "Selecione...", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.SearchCreatedByID, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.DropDownList("SearchCreatedByID", Model.SearchLoadCreatedBy, "Selecione...", new { @class = "form-control" })
                                </div>
                                @Html.LabelFor(model => model.SearchStatusID, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.DropDownList("SearchStatusID", Model.SearchLoadStatus, "Selecione...", new { @class = "form-control" })
                                </div>
                            </div>
                            
                            <br />
                            <div class="col">
                                <div class="text-center">
                                    <button type="button" class="btn btn-success btn-sm" id="btn-aplicar-filtros" title="Aplicar filtros">
                                        <i class="fa fa-check-circle"></i> Filtrar
                                    </button>
                                    <button class="btn btn-primary btn-sm" type="reset" id="btnFiltrar" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" title="Fechar filtros"  value="Refresh Page" onClick="window.location.reload()">
                                        <i class="fa fa-filter"></i> Fechar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div><h5>TAREFAS</h5></div>

                <div id="task-grid"></div>
                <script>

                $(document).ready(function () {
                    $("#task-grid").kendoGrid({

                dataSource: {
                    type: "json",
                transport: {
                read: {
                    url: "@Html.Raw(Url.Action("GetAll", "Task"))",
                    type: "POST",
                    dataType: "json",
                    data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                    error: function (e) {
                    display_kendoui_grid_error(e);
                    this.cancelChanges();
                },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: false
                },
                    resizable: true,
                    groupable: true,
                    sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5,
                messages: {
                    display: '{0} - {1} de {2} itens',
                    allPages: 'Todos',
                    itemsPerPage: 'Itens por página'
                }
                },
                    columns: [{
                        field: "",
                        title: "Comandos",
                        width: 130,
                        headerAttributes: { style: "text-align:center" },
                        attributes: { style: "text-align:center" },
                        template: '<div title="Editar Tarefa" class="btn btn-primary btn-sm text-center" onclick="Edit(#=TaskID#)" data-toggle="modal" data-target="\\#MaintenanceModal"> <i class="fa fa-edit"></i> </div> ' +
                        '<div title="Excluir Tarefa" class="btn btn-danger btn-sm text-center" onclick="Delete(#=TaskID#)" data-toggle="modal" data-target="\\#DeleteModal"> <i class="fa fa-trash"></i> </div> ' +
                        '# if(StatusID == "Não iniciada") {# <div title="Tarefa não Iniciada" class="btn btn-dark btn-sm text-center" onclick="StatusChange(#=TaskID#)" ><i class="fa fa-plus true-icon"></i></div> #}  ' +
                        'else if(StatusID == "Em andamento") { # <div title="Em andamento" class="btn btn-danger btn-sm text-center" onclick="StatusChange(#=TaskID#)" ><i class="fa fa-exclamation-circle" false-icon"></i></div> # }  ' +
                        'else {# <div title="Tarefa Concluída" class="btn btn-info btn-sm text-center" onclick="StatusChange(#=TaskID#)" ><i class="fa fa-check true-icon"></i> #}  #'
                    }, {
                        field: "TaskID",
                        title: "ID",
                        width: 50,
                        headerAttributes: { style: "text-align:left" },
                    }, {
                        field: "Summary",
                        title: "Sumário",
                        width: 300,
                        headerAttributes: { style: "text-align:left" },
                    }, {
                        field: "StatusID",
                        title: "Status",
                        width: 200,
                        headerAttributes: { style: "text-align:left" },
                    }, {
                        field: "TargetDate",
                        title: "Data Alvo",
                        width: 100,
                        headerAttributes: { style: "text-align:left" },
                    }, {
                        field: "CreatedByID",
                        title: "Criado por",
                        width: 200,
                        headerAttributes: { style: "text-align:left" },
                    }, {
                        field: "AssignToID",
                        title: "Designado a",
                        width: 200,
                        headerAttributes: { style: "text-align:left" },
                    }],

                    excelExport: function (e) {
                        e.workbook.fileName = "LeanTest Cloud - Tarefas.xlsx";
                    }
                });
            });

                </script>
                <script type="text/javascript">
                $(document).ready(function () {

                        $('#btnExportExcel').click(function () {
                            var grid = $('#task-grid').data('kendoGrid');
                            grid.saveAsExcel();
                            return false;
                        });

                        $('#btn-aplicar-filtros').click(function () {
                            var grid = $('#task-grid').data('kendoGrid');
                            if (grid.dataSource.page() == 1) {
                                grid.dataSource.page(1);
                            }
                            else {
                                grid.dataSource.read({ parameter: "value" });
                            }
                            return false;
                        });

                         $("#@Html.FieldIdFor(model => model.SearchSummary)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });

                         $("#@Html.FieldIdFor(model => model.SearchAssignToID)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });

                         $("#@Html.FieldIdFor(model => model.SearchStatusID)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });
                          
                         $("#@Html.FieldIdFor(model => model.SearchCreatedByID)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });
                    });

                function additionalData() {
                    var data = {
                        SearchSummary: $('#@Html.FieldIdFor(model => model.SearchSummary)').val(),
                        SearchStatusID: $('#@Html.FieldIdFor(model => model.SearchStatusID)').val(),
                        SearchAssignToID: $('#@Html.FieldIdFor(model => model.SearchAssignToID)').val(),
                        SearchCreatedByID: $('#@Html.FieldIdFor(model => model.SearchCreatedByID)').val()
                    };

                    addAntiForgeryToken(data);

                    return data;

                    };

                    var Delete = function (taskID) {
                        var url = '/Task/GetByID?taskID=' + taskID + '&ActionName=Delete';

                        $('#DeleteModalDiv').load(url, function () {

                        })
                    };

                    var Edit = function (taskID) {
                        var url = '/Task/GetByID?taskID=' + taskID + '&ActionName=Maintenance';

                        $('#MaintenanceModalDiv').load(url, function () {

                        })

                        $('#MaintenanceModal').on('shown.bs.modal', function () {

                            $('#calender-container .input-group.date').datepicker({
                                multidate: false,
                                multidateSeparator: ";",
                                autoclose: true,
                                daysOfWeekHighlighted: "0,6",
                                todayBtn: true,
                                todayHighlight: true,
                                format: 'dd/mm/yyyy',
                                language: 'pt-BR'
                            });

                        });
                    };


                    var Add = function () {
                        var url = '/Task/New';

                        $('#AddModalDiv').load(url, function () {

                        })

                        $('#AddModal').on('shown.bs.modal', function () {

                            $('#calender-container .input-group.date').datepicker({
                                multidate: false,
                                multidateSeparator: ";",
                                autoclose: true,
                                daysOfWeekHighlighted: "0,6",
                                todayBtn: true,
                                todayHighlight: true,
                                format: 'dd/mm/yyyy',
                                language: 'pt-BR'
                            });

                        });
                    };

                    var StatusChange = function (taskID) {

                        var url = '/Task/StatusChange?taskID=' + taskID;

                        $('#DeleteModalDiv').load(url, function () {

                        })

                        $("#btn-aplicar-filtros").click();

                        return false;
                    };

                </script>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Add", "Task", FormMethod.Post, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="AddModal" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Nova Tarefa</h3>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body" id="AddModalDiv">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-save"></i>  Salvar
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                        <i class="fa fa-close"></i>  Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Update", "Task", FormMethod.Post, FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="modal fade" id="MaintenanceModal" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Detalhes</h3>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body" id="MaintenanceModalDiv">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-save"></i>  Salvar
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                        <i class="fa fa-close"></i>  Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Delete", "Task", FormMethod.Post, new { novalidate = "novalidate" }))
{
    <div class="modal fade" id="DeleteModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Excluir</h3>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body" id="DeleteModalDiv">

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-sm">
                        <i class="fa fa-check-circle"></i> Sim
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                        <i class="fa fa-close"></i> Não
                    </button>
                </div>
            </div>
        </div>
    </div>
}


@using (Html.BeginForm("Delete", "Attachment", new { sourceController = "Task" }, FormMethod.Post, new { novalidate = "novalidate" }))
{
    <div class="modal fade" id="AttachmentDeleteModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Excluir Anexo</h3>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body" id="AttachmentDeleteModalDiv">

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-check-circle"></i> Sim
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="fa fa-close"></i> Não
                    </button>
                </div>
            </div>
        </div>
    </div>
}
