@model ControleVeiculos.MVC.Models.Resumes.ResumeModel
@{
    ViewBag.Title = " - Cadastro de Currículo";
    Layout = "~/Views/Shared/_ContentPage.cshtml";
}

@using (Html.BeginForm())
{
    <div class="container-fluid">
        <br />
        <div class="content-header clearfix">

            <div class="pull-left">


                <button type="button" onclick="Add()" id="btnNew" class="btn btn-dark" data-toggle="modal" data-target='#AddModal' title="Novo Registro">
                    <i class="fa fa-plus-circle"></i> Novo
                </button>
                <button class="btn btn-primary" type="button" id="btnFiltrar" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" title="Filtrar">
                    <i class="fa fa-filter"></i> Filtrar
                </button>
                <button type="button" id="btnExportExcel" class="btn btn-info" title="Exportar para Excel">
                    <i class="fa fa-file-excel-o"></i> Exportar para Excel
                </button>
            </div>
        </div>
        <br />

        <div class="card">

            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="form-group row">
                                @Html.LabelFor(model => model.SearchSummary, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.SearchSummary, new { @class = "form-control" })
                                </div>
                                @Html.LabelFor(model => model.SearchTimeExperience, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.SearchTimeExperience, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.SearchFunctionID, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.DropDownList("SearchFunctionID", Model.SearchLoadFunction, "Selecione...", new { @class = "form-control" })
                                </div>
                                @Html.LabelFor(model => model.SearchFunctionLevelID, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.DropDownList("SearchFunctionLevelID", Model.SearchLoadFunctionLevel, "Selecione...", new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.SearchStatusRhID, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.DropDownList("SearchStatusRhID", Model.SearchLoadStatusRh, "Selecione...", new { @class = "form-control" })
                                </div>
                                @Html.LabelFor(model => model.SearchStatusManagerID, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.DropDownList("SearchStatusManagerID", Model.SearchLoadStatusManager, "Selecione...", new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.SearchStatusClientID, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.DropDownList("SearchStatusClientID", Model.SearchLoadStatusClient, "Selecione...", new { @class = "form-control" })
                                </div>
                                @Html.LabelFor(model => model.SearchContractTypeID, new { @class = "col-sm-2 col-form-label text-right" })
                                <div class="col-sm-3">
                                    @Html.DropDownList("SearchContractTypeID", Model.SearchLoadContractType, "Selecione...", new { @class = "form-control" })
                                </div>
                            </div>

                            <br />
                            <div class="col">
                                <div class="text-center">
                                    <button type="button" class="btn btn-success" id="btn-aplicar-filtros" title="Aplicar filtros">
                                        <i class="fa fa-check-circle"></i> Filtrar
                                    </button>
                                    <button class="btn btn-secondary" type="reset" id="btnFiltrar" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" title="Fechar filtros">
                                        <i class="fa fa-close"></i> Fechar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div><h5>CURRÍCULOS</h5></div>
                <div id="resume-grid"></div>
                <script>

                $(document).ready(function () {
                $("#resume-grid").kendoGrid({

                dataSource: {
                    type: "json",
                transport: {
                read: {
                    url: "@Html.Raw(Url.Action("GetAll", "Resume"))",
                    type: "POST",
                    dataType: "json",
                    data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                    error: function (e) {
                    display_kendoui_grid_error(e);
                    this.cancelChanges();
                },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: false
                },
                    resizable: true,
                    groupable: true,
                    sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5,
                messages: {
                    display: '{0} - {1} de {2} itens',
                    allPages: 'Todos',
                    itemsPerPage: 'Itens por página'
                }
                },
                    columns: [{
                        field: "",
                        title: "Comandos",
                        width: 90,
                        headerAttributes: { style: "text-align:center" },
                        attributes: { style: "text-align:center" },
                        template: '<div title="Editar Currículo" class="btn btn-primary text-center" onclick="Edit(#=ResumeID#)" data-toggle="modal" data-target="\\#MaintenanceModal"> <i class="fa fa-edit"></i> </div> ' +
                        '<div title="Excluir Currículo" class="btn btn-danger text-center" onclick="Delete(#=ResumeID#)" data-toggle="modal" data-target="\\#DeleteModal"> <i class="fa fa-trash"></i> </div> '
                    },{
                        field: "Summary",
                        title: "Candidato",
                        width: 150,
                        headerAttributes: { style: "text-align:left" },
                        attributes: { class: "text-left" },

                    },{
                        field: "TimeExperience",
                        title: "Tempo de Experiência",
                        width: 100,
                        headerAttributes: { style: "text-align:left" }
                    },{
                        field: "FunctionID",
                        title: "Função",
                        width: 70,
                        headerAttributes: { style: "text-align:left" }
                    },{
                        field: "FunctionLevelID",
                        title: "Nível",
                        width: 50,
                        headerAttributes: { style: "text-align:left" }
                    },{
                        field: "StatusRhID",
                        title: "Status do RH",
                        width: 70,
                        headerAttributes: { style: "text-align:left" }
                    },{
                        field: "StatusManagerID",
                        title: "Status do Gestor",
                        width: 70,
                        headerAttributes: { style: "text-align:left" }
                    },{
                        field: "StatusClientID",
                        title: "Status do Cliente",
                        width: 80,
                        headerAttributes: { style: "text-align:left" }
                    },{
                        field: "ContractTypeID",
                        title: "Tipo de Contrato",
                        width: 80,
                        headerAttributes: { style: "text-align:left" }
                    }],
                    excelExport: function (e) {
                        e.workbook.fileName = "LeanTest Cloud - Currículo.xlsx";
                    }
                });
            });

                </script>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#btnExportExcel').click(function () {
                            var grid = $('#resume-grid').data('kendoGrid');
                            grid.saveAsExcel();
                            return false;
                        });

                        $('#btn-aplicar-filtros').click(function () {
                            var grid = $('#resume-grid').data('kendoGrid');
                            if (grid.dataSource.page() == 1) {
                                grid.dataSource.page(1);
                            }
                            else {
                                grid.dataSource.read({ parameter: "value" });
                            }
                            return false;
                        });

                        $("#@Html.FieldIdFor(model => model.SearchSummary)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });

                         $("#@Html.FieldIdFor(model => model.SearchTimeExperience)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });

                        $("#@Html.FieldIdFor(model => model.SearchFunctionID)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#btn-aplicar-filtros").click();
                                    return false;
                                }
                            });

                        $("#@Html.FieldIdFor(model => model.SearchFunctionLevelID)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#btn-aplicar-filtros").click();
                                    return false;
                                }
                            });

                        $("#@Html.FieldIdFor(model => model.SearchStatusRhID)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#btn-aplicar-filtros").click();
                                    return false;
                                }
                            });

                        $("#@Html.FieldIdFor(model => model.SearchStatusManagerID)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#btn-aplicar-filtros").click();
                                    return false;
                                }
                            });

                        $("#@Html.FieldIdFor(model => model.SearchStatusClientID)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#btn-aplicar-filtros").click();
                                    return false;
                                }
                            });

                        $("#@Html.FieldIdFor(model => model.SearchContractTypeID)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#btn-aplicar-filtros").click();
                                    return false;
                                }
                            });
                    });

                function additionalData() {
                    var data = {
                        SearchSummary: $('#@Html.FieldIdFor(model => model.SearchSummary)').val(),
                        SearchTimeExperience: $('#@Html.FieldIdFor(model => model.SearchTimeExperience)').val(),
                        SearchFunctionID: $('#@Html.FieldIdFor(model => model.SearchFunctionID)').val(),
                        SearchFunctionLevelID: $('#@Html.FieldIdFor(model => model.SearchFunctionLevelID)').val(),
                        SearchStatusRhID: $('#@Html.FieldIdFor(model => model.SearchStatusRhID)').val(),
                        SearchStatusManagerID: $('#@Html.FieldIdFor(model => model.SearchStatusManagerID)').val(),
                        SearchStatusClientID: $('#@Html.FieldIdFor(model => model.SearchStatusClientID)').val(),
                        SearchContractTypeID: $('#@Html.FieldIdFor(model => model.SearchContractTypeID)').val(),

                    };

                    addAntiForgeryToken(data);

                    return data;

                    };

                    var Delete = function (resumeID) {
                        var url = '/Resume/GetByID?resumeID=' + resumeID + '&ActionName=Delete';

                        $('#DeleteModalDiv').load(url, function () {

                        })
                    };

                    var Edit = function (resumeID) {
                        var url = '/Resume/GetByID?resumeID=' + resumeID + '&ActionName=Maintenance';

                        $('#MaintenanceModalDiv').load(url, function () {

                        })

                        $('#MaintenanceModal').on('shown.bs.modal', function () {

                            $('#calender-container .input-group.date').datepicker({
                                multidate: false,
                                multidateSeparator: ";",
                                autoclose: true,
                                daysOfWeekHighlighted: "0,6",
                                todayBtn: true,
                                todayHighlight: true,
                                format: 'dd/mm/yyyy',
                                language: 'pt-BR'
                            });

                        });
                    };

                    var Add = function () {
                        var url = '/Resume/New';

                        $('#AddModalDiv').load(url, function () {

                        })

                        $('#AddModal').on('shown.bs.modal', function () {

                            $('#calender-container .input-group.date').datepicker({
                                multidate: false,
                                multidateSeparator: ";",
                                autoclose: true,
                                daysOfWeekHighlighted: "0,6",
                                todayBtn: true,
                                todayHighlight: true,
                                format: 'dd/mm/yyyy',
                                language: 'pt-BR'
                            });

                        });
                    };

                </script>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Add", "Resume", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="AddModal" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Novo Currículo</h3>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body" id="AddModalDiv">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-sm" >
                        <i class="fa fa-save"></i>  Salvar

                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="fa fa-close"></i>  Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Update", "Resume", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="MaintenanceModal" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Detalhes</h3>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body" id="MaintenanceModalDiv">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-sm"  >
                        <i class="fa fa-save"></i>  Salvar
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="fa fa-close"></i>  Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
}


@using (Html.BeginForm("Delete", "Resume", FormMethod.Post, new { novalidate = "novalidate" }))
{
    <div class="modal fade" id="DeleteModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Excluir</h3>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body" id="DeleteModalDiv">

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-check-circle"></i> Sim
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="fa fa-close"></i> Não
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Delete", "Attachment", new { sourceController = "Resume" }, FormMethod.Post, new { novalidate = "novalidate" }))
{
    <div class="modal fade" id="AttachmentDeleteModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Excluir Anexo</h3>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body" id="AttachmentDeleteModalDiv">

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-check-circle"></i> Sim
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="fa fa-close"></i> Não
                    </button>
                </div>
            </div>
        </div>
    </div>
}
