@model ControleVeiculos.MVC.Models.Users.UserModel

@Html.HiddenFor(model => model.UserID)
@Html.HiddenFor(model => model.UserName)
@Html.HiddenFor(model => model.Email)
@Html.HiddenFor(model => model.Password)
@Html.HiddenFor(model => model.CellNumber)
@Html.HiddenFor(model => model.DepartmentID)
@Html.HiddenFor(model => model.Description)
@Html.HiddenFor(model => model.FirstAccess)
@Html.HiddenFor(model => model.IsAdmin)
@Html.HiddenFor(model => model.IsActive)
@Html.HiddenFor(model => model.RG)
@Html.HiddenFor(model => model.CPF)
@Html.HiddenFor(model => model.DateOfBirth)
@Html.HiddenFor(model => model.HomeAddress)
@Html.HiddenFor(model => model.CEP)
@Html.HiddenFor(model => model.District)
@Html.HiddenFor(model => model.City)
@Html.HiddenFor(model => model.State)
@Html.HiddenFor(model => model.HomePhone)

@if (Model.IsActive == true)
{
    <div>
        Deseja realmente desativar o usuário?
        <br />
        <br />
        <ul>
            <li>Nome do usuário: <strong>@Model.UserName</strong></li>
            <li>E-mail: <strong>@Model.Email</strong></li>
            <li>Status: <strong>Ativado</strong></li>
        </ul>
    </div>

}
else
{
    <div>
        Deseja realmente ativar o usuário?
        <br />
        <br />
        <ul>
            <li>Nome do usuário: <strong>@Model.UserName</strong></li>
            <li>E-mail: <strong>@Model.Email</strong></li>
            <li>Status: <strong>Desativado</strong></li>
        </ul>
    </div>

}
