@model Lean.Test.Cloud.MVC.Models.Groups.GroupModel

@Html.HiddenFor(model => model.GroupID)

@using (Html.BeginForm())
{
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="form-group row">
                <div class="col-sm-12">
                    Pesquisa pelo @Html.LabelFor(model => model.SearchGroupName, new { @class = "col-sm-0 col-form-label text-right" })

                    @Html.TextBoxFor(model => model.SearchGroupName, null, new { @class = "form-control" })
                </div>

            </div>
        </div>
    </div>
</div>
<div class="form-group row">
        <div class="col-md-6 mb-auto">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <div id="groupAssociated-grid"></div>
                        <script>
                            $(document).ready(function () {
                            $("#groupAssociated-grid").kendoGrid({

                            dataSource: {
                                type: "json",
                            transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("GetAllAssociateGroupByUserID", "User"))",
                                type: "POST",
                                dataType: "json",
                                data: additionalData
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                                error: function (e) {
                                display_kendoui_grid_error(e);
                                this.cancelChanges();
                            },
                                pageSize: 10,
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: false
                            },
                                resizable: true,
                                groupable: false,
                                sortable: true,
                            pageable: {
                                refresh: true,
                                pageSizes: true,
                                buttonCount: 5,
                            messages: {
                                display: '{0} - {1} de {2} itens',
                                allPages: 'Todos',
                                itemsPerPage: 'Itens por página'
                            }
                            },
                                columns: [{
                                    field: "GroupName",
                                    title: "Nome do grupo",
                                    width: 100,
                                    headerAttributes: { style: "text-align:left" }
                                }, {
                                    field: "",
                                    title: "Excluir",
                                    width: 30,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                        template: '<div title="Desassociar Grupo" class="btn btn-danger  btn-sm text-center" onclick="DisassociateGroup(#=GroupID#)" > <i class="fa fa-close"></i> </div> '

                                }]
                            });
                        });

                        </script>
                        <script type="text/javascript">
                            $(document).ready(function () {
                               
                                $('#btn-aplicar-filtros').click(function () {
                                    var grid = $('#groupAssociated-grid').data('kendoGrid');
                                    if (grid.dataSource.page() == 1) {
                                        grid.dataSource.page(1);
                                    }
                                    else {
                                        grid.dataSource.read({ parameter: "value" });
                                    }
                                    return false;
                                });

                                $("#@Html.FieldIdFor(model => model.SearchGroupName)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#btn-aplicar-filtros").click();
                                        return false;
                                    }
                                });

                            });

                            function additionalData() {
                                var data = {
                                    SearchGroupName: $('#@Html.FieldIdFor(model => model.SearchGroupName)').val()
                                };

                                addAntiForgeryToken(data);

                                return data;

                                };

                                var DisassociateGroup = function (groupID) {

                                    var url = '/User/DisassociateGroup?groupID=' + groupID;

                                    $('#DeleteModalDiv').load(url, function () {

                                    })

                                    $("#btn-aplicar-filtros").click();

                                    return false;
                                };

                        </script>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-auto">

            <div class="container-fluid">
                <div class="card">

                    <div class="card-body">
                        <div id="groupNoAssociated-grid"></div>
                        <script>

                            $(document).ready(function () {
                                $("#groupNoAssociated-grid").kendoGrid({

                            dataSource: {
                                type: "json",
                            transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("GetAllNoAssociateGroupByUserID", "User"))",
                                type: "POST",
                                dataType: "json",
                                data: additionalData
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                                error: function (e) {
                                display_kendoui_grid_error(e);
                                this.cancelChanges();
                            },
                                pageSize: 10,
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: false
                            },
                                resizable: true,
                                groupable: false,
                                sortable: true,
                            pageable: {
                                refresh: true,
                                pageSizes: true,
                                buttonCount: 5,
                            messages: {
                                display: '{0} - {1} de {2} itens',
                                allPages: 'Todos',
                                itemsPerPage: 'Itens por página'
                            }
                            },
                                columns: [{
                                    field: "GroupName",
                                    title: "Nome do grupo",
                                    width: 100,
                                    headerAttributes: { style: "text-align:left" }
                                }, {
                                    field: "",
                                    title: "Adicionar",
                                    width: 30,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<div title="Associar Grupo" class="btn btn-success btn-sm text-center" onclick="AssociateGroup(#=GroupID#)" > <i class="fa fa-plus"></i> </div> '

                                }]
                            });
                        });

                        </script>
                 <script type="text/javascript">
                     $(document).ready(function () {

                         $('#btn-aplicar-filtros').click(function () {
                             var grid = $('#groupNoAssociated-grid').data('kendoGrid');
                             if (grid.dataSource.page() == 1) {
                                 grid.dataSource.page(1);
                             }
                             else {
                                 grid.dataSource.read({ parameter: "value" });
                             }
                             return false;
                         });

                        $("#@Html.FieldIdFor(model => model.SearchGroupName)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#btn-aplicar-filtros").click();
                                return false;
                            }
                        });

                    });

                    function additionalData() {
                    var data = {
                        SearchGroupName: $('#@Html.FieldIdFor(model => model.SearchGroupName)').val()
                    };

                    addAntiForgeryToken(data);

                    return data;

                     };

                     var AssociateGroup = function (groupID) {
                         var url = '/User/AssociateGroup?groupID=' + groupID;

                         $('#GroupAssociateModalDiv').load(url, function () {

                         })

                         $("#btn-aplicar-filtros").click();

                         return false;
                     };

                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

}

