@model ControleVeiculos.MVC.Models.Users.UserModel


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@Html.HiddenFor(model => model.UserID)
@Html.HiddenFor(model => model.Password)
@Html.HiddenFor(model => model.FirstAccess)

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="accessData-tab" data-toggle="tab" href="#accessData" role="tab" aria-controls="accessData" aria-selected="true">Dados de acesso</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="professionalData-tab" data-toggle="tab" href="#professionalData" role="tab" aria-controls="professionalData" aria-selected="false">Dados Profissionais</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="personalData-tab" data-toggle="tab" href="#personalData" role="tab" aria-controls="personalData" aria-selected="false">Dados Pessoais</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="accessData" role="tabpanel" aria-labelledby="accessData-tab">
        <div class="card">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-4 mb-auto">
                        <strong>@Html.LabelFor(model => model.UserName, new { @class = "col-sm-0 col-form-label text-left" })</strong>
                        <strong><span style="color:black;">*</span></strong>
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control text-left", placeholder = "Digite o nome do usuário", @autofocus = "autofocus" })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "form-text text-danger" })
                    </div>
                    <div class="col-md-6 mb-auto">
                        <strong>@Html.LabelFor(model => model.Email, new { @class = "col-sm-0 col-form-label text-left" })</strong>
                        <strong><span style="color:black;">*</span></strong>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Digite o e-mail" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "form-text text-danger" })
                    </div>
                    
                    <div class="col-md-2 mb-auto">
                        @Html.LabelFor(model => model.IsActive, new { @class = "col-sm-0 col-form-label text-left" })
                        @Html.CheckBoxFor(model => model.IsActive, new { @class = "checkbox" })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "form-text text-danger" })
                    </div>
                    <div class="col-md-2 mb-auto">
                        @Html.LabelFor(model => model.IsAdmin, new { @class = "col-sm-0 col-form-label text-left" })
                        @Html.CheckBoxFor(model => model.IsAdmin, new { @class = "checkbox" })
                        @Html.ValidationMessageFor(model => model.IsAdmin, "", new { @class = "form-text text-danger" })
                    </div>
                    
                    <div class="col-md-12 mb-auto">
                        @Html.LabelFor(model => model.Description, new { @class = "col-sm-0 col-form-label text-left" })
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Digite uma descrição", rows = "2" })
                        <script>
                            $(document).ready(function () {
                                $("#Description").kendoEditor({
                                    tools: [
                                        "formatting",
                                        "bold", "italic", "underline", "strikethrough",
                                        "justifyLeft", "justifyCenter", "justifyRight", "justifyFull",
                                        "insertUnorderedList", "insertOrderedList", "indent", "outdent",
                                        "createLink", "unlink", "insertImage", "insertFile",
                                        "subscript", "superscript",
                                        "tableWizard", "createTable",
                                        "addRowAbove", "addRowBelow",
                                        "addColumnLeft", "addColumnRight",
                                        "deleteRow", "deleteColumn",
                                        "viewHtml", "cleanFormatting",
                                        "fontName", "fontSize",
                                        "foreColor", "backColor"
                                    ],
                                    messages: {
                                        fontNameInherit: "Arial",
                                        fontSizeInherit: "3 (12pt)"
                                    },
                                    resizable: true
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="professionalData" role="tabpanel" aria-labelledby="professionalData-tab">
        <div class="card">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-2 mb-auto">
                        <strong>@Html.LabelFor(model => model.DepartamentoID, new { @class = "col-sm-0 col-form-label text-left" })</strong>
                        <strong><span style="color:black;">*</span></strong>
                        @Html.DropDownList("DepartamentoID", Model.LoadDepartamentos, "Selecione...", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DepartamentoID, "", new { @class = "form-text text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="personalData" role="tabpanel" aria-labelledby="personalData-tab">
        <div class="card">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-2 mb-auto">
                        @Html.LabelFor(model => model.RG, new { @class = "col-sm-0 col-form-label text-left" })
                        @Html.TextBoxFor(model => model.RG, new { @class = "form-control", placeholder = "Digite RG" })
                        @Html.ValidationMessageFor(model => model.RG, "", new { @class = "form-text text-danger" })
                    </div>
                    <div class="col-md-2 mb-auto">
                        @Html.LabelFor(model => model.CPF, new { @class = "col-sm-0 col-form-label text-left" })
                        @Html.TextBoxFor(model => model.CPF, new { @class = "form-control", placeholder = "Digite CPF" })
                        @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "form-text text-danger" })
                    </div>
                    <div class="col-md-2 mb-auto" id="calender-container">
                        @Html.LabelFor(model => model.DateOfBirth, new { @class = "col-sm-0 col-form-label text-left" })
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "form-control", autocomplete = "off", placeholder = "Selecione..." })<span class="input-group-addon"></span>
                            @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "form-text text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6 mb-auto">
                        @Html.LabelFor(model => model.HomeAddress, new { @class = "col-sm-0 col-form-label text-left" })
                        @Html.TextBoxFor(model => model.HomeAddress, new { @class = "form-control text-left", placeholder = "Digite o endereço" })
                        @Html.ValidationMessageFor(model => model.HomeAddress, "", new { @class = "form-text text-danger" })
                    </div>
                    <div class="col-md-2 mb-auto">
                        @Html.LabelFor(model => model.CEP, new { @class = "col-sm-0 col-form-label text-left" })
                        @Html.TextBoxFor(model => model.CEP, new { @class = "form-control", placeholder = "Digite CEP" })
                        @Html.ValidationMessageFor(model => model.CEP, "", new { @class = "form-text text-danger" })
                    </div>
                    <div class="col-md-4 mb-auto">
                        @Html.LabelFor(model => model.District, new { @class = "col-sm-0 col-form-label text-left" })
                        @Html.TextBoxFor(model => model.District, new { @class = "form-control", placeholder = "Digite o bairro" })
                        @Html.ValidationMessageFor(model => model.District, "", new { @class = "form-text text-danger" })
                    </div>
                    <div class="col-md-4 mb-auto">
                        @Html.LabelFor(model => model.City, new { @class = "col-sm-0 col-form-label text-left" })
                        @Html.TextBoxFor(model => model.City, new { @class = "form-control", placeholder = "Digite a cidade" })
                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "form-text text-danger" })
                    </div>
                    <div class="col-md-2 mb-auto">
                        @Html.LabelFor(model => model.State, new { @class = "col-sm-0 col-form-label text-left" })
                        @Html.TextBoxFor(model => model.State, new { @class = "form-control", placeholder = "Digite o estado" })
                        @Html.ValidationMessageFor(model => model.State, "", new { @class = "form-text text-danger" })
                    </div>
                    <div class="col-md-2 mb-auto">
                        <strong>@Html.LabelFor(model => model.CellNumber, new { @class = "col-sm-0 col-form-label text-left" })</strong>
                        <strong><span style="color:black;">*</span></strong>
                        @Html.TextBoxFor(model => model.CellNumber, new { @class = "form-control", placeholder = "Digite o número" })
                        @Html.ValidationMessageFor(model => model.CellNumber, "", new { @class = "form-text text-danger" })
                    </div>
                    <div class="col-md-2 mb-auto">
                        @Html.LabelFor(model => model.HomePhone, new { @class = "col-sm-0 col-form-label text-left" })
                        @Html.TextBoxFor(model => model.HomePhone, new { @class = "form-control", placeholder = "Digite o número" })
                        @Html.ValidationMessageFor(model => model.HomePhone, "", new { @class = "form-text text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>  $(document).ready(function () {
        $("#CellNumber").kendoMaskedTextBox({
            mask: "(00) 00000-0000"
        });
  
        $("#HomePhone").kendoMaskedTextBox({
            mask: "(00) 0000-0000"
        });
        $("#CEP").kendoMaskedTextBox({
            mask: "00000-000"
        });
        $("#CPF").kendoMaskedTextBox({
            mask: "000.000.000-00"
        });
        $("#RG").kendoMaskedTextBox({
            mask: "00.000.000-A"
        });
        $("#CNPJ").kendoMaskedTextBox({
            mask: "00.000.000/0000-00"
        });
       
    });


</script>
